*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/laragenie/node_modules
/laragenie/public/build
/laragenie/public/hot
/laragenie/public/storage
/laragenie/storage/*.key
/laragenie/storage/pail
/laragenie/vendor
/applets/*/vendor
Homestead.json
Homestead.yaml
Thumbs.db
composer.lock
package-lock.json
